{% extends "AppBundle::layout.html.twig" %}

{% block title "Books" %}

{% block content %}

    <h1 class="title">{{ 'book.list.headline'|trans({}, 'AppBundle') }}
        <span class="pull-right"><a href="{{ path('api_new_book') }}" class="btn btn-sm btn-success">{{ 'book.new.link'|trans({}, 'AppBundle') }}</a></span>
         </h1>

    <p>
        {{ 'book.offset'|trans({}, 'AppBundle') }}: {{ data.offset ?: '-' }}, {{ 'book.limit'|trans({}, 'AppBundle') }}: {{ data.limit }}
    </p>

    <ul class="media-list main-list">

        {% for book in data.books %}
            <li class="media">
                <a class="pull-left" href="{{ path('api_get_book', {'isbn': book.isbn}) }}">
                    <img class="media-object" src="{{ book.ImageUrlS }}" alt="{{ book.title }}" width="58px" height="75px"/>
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a href="{{ path('api_get_book', {'isbn': book.isbn}) }}">{{ book.title }}</a></h4>
                    <p class="by-author">{{ book.author }}</p>
                    <p class="media-list"></p>
                </div>
            </li>

        {% else %}
            {{ 'book.list.empty'|trans({}, 'AppBundle') }}
        {% endfor %}
    </ul>
    <p>

    </p>
{% endblock %}
