{% extends "AppBundle::layout.html.twig" %}

{% block title "Books" %}

{% block content %}
    <h1 class="title">{{ 'book.list.headline'|trans({}, 'AppBundle') }}</h1>

    <p>
        {{ 'book.offset'|trans({}, 'AppBundle') }}: {{ data.offset ?: '-' }}, {{ 'book.limit'|trans({}, 'AppBundle') }}: {{ data.limit }}
    </p>

    <div class="row-fluid list-group">
        {% for book in data.books %}
            <div class="item  col-xs-3 col-lg-3 grid-group-item">
                <div class="thumbnail">

                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">{{ book.isbn }}</h4>
                        <p class="group inner list-group-item-text">{{ book.title }}</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <a class="btn btn-danger btn-sm" href="{{ path('api_remove_books', {'isbn': book.isbn}) }}">Del</a>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <a class="btn btn-warning btn-sm" href="{{ path('api_edit_books', {'isbn': book.isbn}) }}">Edit</a>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <a class="btn btn-success btn-sm" href="{{ path('api_get_book', {'isbn': book.isbn}) }}">View</a>

                            </div>
                        </div>
                    </div>
                    <img class="group list-group-image" src="{{ book.ImageUrlM }}" alt="{{ book.title }}">
                </div>
            </div>
        {% else %}
            {{ 'book.list.empty'|trans({}, 'AppBundle') }}
        {% endfor %}
    </div>
    <p>
        <a href="{{ path('api_new_book') }}">{{ 'book.new.link'|trans({}, 'AppBundle') }}</a>
    </p>
{% endblock %}
